@model IEnumerable<LoanFinancialSoftware.Models.LoanServices.DebtConsolidationLoan>

@{
    ViewBag.Title = "ConsolidationLoanApplicationRecord";
    Layout = "~/Views/Shared/LoanOfficer.cshtml";
}



<p>
    
</p>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Debt Consolidation Loan Application</p>
                <div class="row">
                    <div class="col-12">
                        <div class="table">
                            <table class="table">
                                <tr style="background-color:darkslateblue;color:white;">
                                    <th>
                                        <label>Full Name</label>
                                    </th>

                                    <th>
                                        <label>Occupation</label>
                                    </th>

                                    <th>
                                        <label>Monthly Income($)</label>
                                    </th>

                                    <th>
                                        <label>Loan Amount ($)</label>
                                    </th>
                                    <th>
                                        <label>Review</label>
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fullname)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Occupation)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.MonthlyIncome)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.LoanAmount)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Review", "Staff", new { id = item.RegistrationNo })" class="btn btn-primary btn-rounded btn-fw">Review</a>
                                        </td>
                                    </tr>
                                }

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

