@model IEnumerable<LoanFinancialSoftware.Models.AgreementForm.PersonalLoanAgreement>

@{
    ViewBag.Title = "PersonalLoanAnalysis";
    Layout = "~/Views/Shared/LoanOfficer.cshtml";
}


<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Personal Loan Analysis</p>
                <div class="row">
                    <div class="col-12">
                        <div class="table">
                            <table class="table-responsive">
                                <tr style="background-color:darkslateblue;color:white;">
                                    <th>
                                        @Html.DisplayNameFor(model => model.ApplicationID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PrincipalLoan)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LoanTerm)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IntrestRate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalIntrest)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RepaymentAmount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalDailyIntrest)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalRepaymentAmount)
                                    </th>
                                   
                                    <th>
                                        @Html.DisplayNameFor(model => model.PaymentDueDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AmountPaid)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Isdue)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicationID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PrincipalLoan)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LoanTerm)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IntrestRate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalIntrest)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RepaymentAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalDailyIntrest)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalRepaymentAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PaymentDueDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AmountPaid)
                                        </td>
                                        <td>
                                            @if (item.PaymentDueDate == DateTime.Now)
                                            {
                                                <p>Payment Due</p>
                                            }
                                            else
                                            {
                                                <p>No</p>
                                            }

                                        </td>
                                        <td>
                                            <a href="@Url.Action("Review", "Staff", new { id = item.ApplicationID })" class="btn btn-primary btn-rounded btn-fw">Review</a>
                                          
                                        </td>
                                    </tr>
                                }

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



