@model LoanFinancialSoftware.Models.AgreementForm.PersonalLoanAgreement

@{
    ViewBag.Title = "SendloanTermandcondition";
    Layout = "~/Views/Shared/LoanOfficer.cshtml";
}



<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Personal Loan Application</p>
                <center>
                    <div class="brand-logo">
                        <img src="~/Assets/images/logo.svg" alt="logo" />
                    </div>
                </center>
                
                <br />
                <div class="row">
                    <div class="col-6">
                        <p class="h3">Skydash Loan</p>
                        <address>
                            34 Down City<br>
                            Wuse, Abuja<br>
                            Central, 2004<br>
                            Skydash@globla.com
                        </address>
                    </div>
                    <div class="col-6 text-end">
                        <p class="h3">Party Details</p>
                        <address>
                            Registration No: @Html.DisplayFor(model=>model.Regno)<br>
                            House Address: @Html.DisplayFor(model=>model.HouseAddress)<br>
                            Email: @Html.DisplayFor(model=>model.EmailID)<br>
                            
                        </address>
                    </div>
                    <div class="col-12 my-5">
                        <h1>Application ID @Html.DisplayFor(model=>model.ApplicationID)</h1>
                    </div>
                </div>
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 1%"></th>
                            <th>Loan Agreement Details</th>
                            <th class="text-end" style="width: 1%">Amount</th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="text-center">1</td>
                        <td>
                            <p class="strong mb-1">Principal Loan</p>
                            <div class="text-muted">The sum of money to be borrowed</div>
                        </td>
                        <td class="text-end">$@Html.DisplayFor(model=>model.PrincipalLoan)</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td>
                            <p class="strong mb-1">Intrest Rate Percent</p>
                            <div class="text-muted">The amount charged by a lender to a borrower for any form of debt given, generally expressed as a percentage of the principal.</div>
                        </td>
                  
                        <td class="text-end">@Html.DisplayFor(model=>model.IntrestRate)%</td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td>
                            <p class="strong mb-1">Annual Loan Term</p>
                            <div class="text-muted">A loan term is the duration of the loan until it's paid off</div>
                        </td>
                        <td class="text-end">@Html.DisplayFor(model=>model.LoanTerm) Year</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="strong text-end">Total Intrest</td>
                        <td class="text-end">$@Html.DisplayFor(model=>model.TotalIntrest)</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="strong text-end">Total Daily Intrest</td>
                        <td class="text-end">$@Html.DisplayFor(model=>model.TotalDailyIntrest)</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="strong text-end">Repayment Amount(Monthly)</td>
                        <td class="text-end">$@Html.DisplayFor(model=>model.RepaymentAmount)</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="font-weight-bold text-uppercase text-end">Total Repayment Amount</td>
                        <td class="font-weight-bold text-end">$@Html.DisplayFor(model=>model.TotalRepaymentAmount)</td>
                    </tr>
                </table>
                <div class="form-actions no-color">
                    <div class="col-md-offset-2 col-md-12">
                        <button type="submit" class="btn btn-primary btn-rounded btn-fw">
                            <i class="fas fa-calculator"></i> Foward
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


