@model LoanFinancialSoftware.Models.LoanServices.PersonalLoan

@{
    ViewBag.Title = "TransactionAnalysis";
    Layout = "~/Views/Shared/LoanOfficer.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="col-12 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
        <br />

        <h4 class="card-title">Personal Loan Application</h4>

        <center>
            <h3 class="text-danger" style="text-align:center">Financial Analysis</h3>
        </center>

      

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form class="forms-sample" method="post" action="AutoLoanApplication" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <label>Principal Loan Amount</label>
                        <div class="form-group">
                            @Html.DisplayFor(model => model.LoanAmount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LoanAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Intrest Rate</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="IntrestRate" required id="exampleInputName1" placeholder="Intrest Rate">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Loan Term</label>
                        <div class="form-group">
                            <select class="form-control" required id="exampleSelectGender" name="LoanTerm">
                                <option>---Select---</option>
                                <option>6 Months</option>
                                <option>1 Year</option>
                                <option>2 Years</option>
                                <option>3 Years</option>
                                <option>4 Years</option>
                                <option>5 Years</option>
                                <option>6 Years</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-4">
                        <label>Repayment Schedule</label>
                        <div class="form-group">
                            <select class="form-control" required id="exampleSelectGender" name="RepaymentSchedule">
                                <option>---Select---</option>
                                <option>Weekly</option>
                                <option>Monthly</option>
                                <option>Yearly</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Repayment Amount</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="RepaymentAmount" required id="exampleInputName1" placeholder="Repayment Amount">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Total Repayment Amount</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="TotalRepaymentAmount" required id="exampleInputName1" placeholder="Total Repayment Amount">
                        </div>
                    </div>
                </div>             

                <div class="form-actions no-color">
                    <div class="col-md-offset-2 col-md-12">
                        <a href="@Url.Action("TransactionAnalysis", "LoanOfficer")" class="btn btn-primary btn-rounded btn-fw">
                            <i class="fas fa-calculator"></i> Calculate
                        </a>
                        <a href="@Url.Action("DownloadBankStatement", "LoanOfficer")" class="btn btn-primary btn-rounded btn-fw">
                            <i class="fas fa-user"></i> Brief Client
                        </a>
                       
                    </div>
                </div>
            </form>

        </div>

    </div>
    </div>
   } 