@model IEnumerable<LoanFinancialSoftware.Models.AgreementForm.PersonalLoanAgreement>

@{
    ViewBag.Title = "ApplicationFeedback";
    Layout = "~/Views/Shared/Customer.cshtml";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Personal Loan Application Feedback</p>
                <div class="row">
                    <div class="col-12">
                        <div class="table">
                            <table class="table">
                                <tr style="background-color:darkslateblue;color:white;">
                                    <th>
                                        @Html.DisplayNameFor(model => model.ApplicationID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PrincipalLoan)
                                    </th>
                                    
                                    <th>
                                        Feed Back
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicationID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PrincipalLoan)
                                        </td>
                                       
                                        <td>
                                            <a href="@Url.Action("ViewLoanAgeementFeedback", "Customer", new { id = item.ApplicationID })" class="btn btn-primary btn-rounded btn-fw">View</a>
                                        </td>
                                    </tr>
                                }

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



